<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Event</title>
</head>
<body>
    <h2>Create Event</h2>
    <form method="POST">
        <label for="event_name">Event Name:</label>
        <input type="text" id="event_name" name="event_name" required><br><br>
        
        <label for="event_date">Event Date:</label>
        <input type="date" id="event_date" name="event_date" required><br><br>

        <label for="ticket_limit">Ticket Limit:</label>
        <input type="number" id="ticket_limit" name="ticket_limit" required><br><br>

        <input type="submit" value="Create Event">
    </form>
</body>
</html>

